<div class="content-s">
  <h3 translate="">当前系统参考源</h3>
  <div class="boxH"></div>
  <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 ">
    <div>
      <label translate="CURRENT_DEVICE" class="control-label">当前设备</label>
      : {{devIP}}
      <select ng-model="devID" style="width:90px;height: 26px;" class="form-inline input-sm"
        ng-options="m.name group by m.area.name for m in deviceInfo" ng-change="macChange(devID)">
        <option value="" translate="PLEASE_SELECT">请选择</option>
      </select>

      <span  translate="SLOT"></span>
      <span >:</span>
      <select  ng-model="devSlot"  class="form-inline input-sm" style="height: 26px;">
        <option value="OSC-1">OSC-1</option>
        <option value="OSC-2">OSC-2</option>
      </select>



      <button class="btn btn-primary btn-md" translate="SEARCH" ng-click="seach()" style="">搜索</button>

     
    <br>
  </div>
  <div class="row tableTs" id="pre">
    <form class="excel form-horizontal formBiao">
      <div class="col-xs-5 col-sm-5 col-lg-5 col-md-5 fa15x  b-radius padding-l padding-r padding-b15 t-right">

   

        <div class="form-group">
          <label for="inputEmail3" 
            class="excel_key col-xs-5 col-sm-5 col-lg-5 col-md-5 col-lg-offset-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 control-label">ref_aid</label>
          <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 ">
            <input type="text"  class="excel_value form-control" ng-model="deviceContent.ref_aid"></div>
          </div>
          

          <div class="form-group">
          <label for="inputEmail3" 
            class="excel_key col-xs-5 col-sm-5 col-lg-5 col-md-5 col-lg-offset-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 control-label">ref_ref</label>
          <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 ">
            <input type="text"  class="excel_value form-control" ng-model="deviceContent.inp_ref"></div>
          </div>
          

          <div class="form-group">
          <label for="inputEmail3" 
            class="excel_key col-xs-5 col-sm-5 col-lg-5 col-md-5 col-lg-offset-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 control-label">inp_onoff</label>
          <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 ">
            <input type="text"  class="excel_value form-control" ng-model="deviceContent.inp_onoff"></div>
          </div>
          

          <div class="form-group">
          <label for="inputEmail3" 
            class="excel_key col-xs-5 col-sm-5 col-lg-5 col-md-5 col-lg-offset-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 control-label">inp_switch_t</label>
          <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 ">
            <input type="text"  class="excel_value form-control" ng-model="deviceContent.inp_switch_t"></div>
          </div>
          

       
        


      </div>

      <div class="col-xs-5 col-sm-5 col-lg-5 col-md-5 fa15x  b-radius ">


     
        <div class="form-group">
          <label for="inputEmail3" 
            class="excel_key col-xs-5 col-sm-5 col-lg-5 col-md-5 col-lg-offset-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 control-label">inp_ree_t</label>
          <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 ">
            <input type="text"  class="excel_value form-control" ng-model="deviceContent.inp_ree_t"></div>
          </div>
          

          <div class="form-group">
          <label for="inputEmail3" 
            class="excel_key col-xs-5 col-sm-5 col-lg-5 col-md-5 col-lg-offset-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 control-label">status_switch_a</label>
          <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 ">
            <input type="text"  class="excel_value form-control" ng-model="deviceContent.status_switch_a"></div>
          </div>
          

          <div class="form-group">
          <label for="inputEmail3" 
            class="excel_key col-xs-5 col-sm-5 col-lg-5 col-md-5 col-lg-offset-1 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 control-label">status_switch_t </label>
          <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6 ">
            <input type="text"  class="excel_value form-control" ng-model="deviceContent.status_switch_t"></div>
          </div>
          
   



      </div>
      <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12 fa15x  b-radius ">
        <div class="form-group" style="border-top:0;text-align: center;">
          <button ng-disabled="configSubD" ng-click="configSub(deviceContent,'1', '', 'ptpinput1')" translate="SET" type="button"
            class="btn btn-primary" translate="SET">设置</button>
          <button ng-disabled="configSubD" class="btn btn-primary btn-md" translate="PRINT" ng-click="PRINTANG('pre')" style="">打印</button>
          <button ng-disabled="configSubD" class="btn btn-primary btn-md" translate="EXPORT" ng-click="excel_tableFun('ptpinput1')"
            style="">导出</button>
        </div>
      </div>
    </form>
  </div>
</div>