// ss_table down
.ss_table_framework {
    height:100%;
    position: relative;
    .table_head {
        width: 100%;
        float: left;
        margin-bottom:10px;
        .left {
            float: left;
            line-height: 34px;
        }

        .right {
            float: right;
            width:180px;
            margin-right: 30px;
        }
    }

    

    .table_middle{
        .table-striped{
            >tbody{
                >tr:nth-of-type(even) {
                    background-color: #f2ebce
                }
                
            }
        }
        table{
            th{
                text-align: left;
            }
            tr{
                
                td{
                    text-align: left;
                    select{
                        height: 34px;
                        line-height: 34px;
                    }
                }
            }
        }
     
    }
    .table_foot{
        overflow: hidden;
        color: #666;
        position: absolute;
        bottom: 10px;
        right: 0px;
        width: 800px;
    }


}

// ss_table up


.ss_framework {
    .form_container {
        margin: 0 auto;

        .btn-grey {
            background-color: #d7cea8
        }

        .form_middle {

            select,
            input {
                height: 25px;
                line-height: 25px;
                margin-top: 10px;
                width: 300px;
                margin-bottom: 10px;
                border: 1px solid #B0B0B0;
            }

            ;

            table {
                margin:0 auto;
                tr:nth-of-type(odd) {
                    background: #fbf7d6 !important
                }

                tr:nth-of-type(even) {
                    background: #fbf7d6 !important
                }
            }
        }

        .button_container {
            text-align: center;
        }



    }

}

