.ss_table_framework .table_head {
  width: 100%;
  float: left;
}
.ss_table_framework .table_head .left {
  float: left;
  line-height: 34px;
}
.ss_table_framework .table_head .right {
  float: right;
  margin-right: 30px;
}
.ss_framework .form_container {
  margin: 0 auto;
}
.ss_framework .form_container .btn-grey {
  background-color: #d7cea8;
}
.ss_framework .form_container .form_middle select,
.ss_framework .form_container .form_middle input {
  height: 25px;
  line-height: 25px;
  margin-top: 10px;
  width: 300px;
  margin-bottom: 10px;
  border: 1px solid #B0B0B0;
}
.ss_framework .form_container .form_middle table tr:nth-of-type(odd) {
  background: #fbf7d6 !important;
}
.ss_framework .form_container .form_middle table tr:nth-of-type(even) {
  background: #fbf7d6 !important;
}
.ss_framework .form_container .button_container {
  text-align: center;
}
.table_foot .pagination {
  display: inline-block;
  margin: 0px 10px;
  list-style-type: none;
  vertical-align: middle;
}
.table_foot .pagination > li {
  float: left;
  margin-right: 15px;
  list-style: none;
}
.table_foot .pagination > li a {
  border: none;
  padding: 3px 0px;
}
.table_foot .pagination > li .prev {
  background-image: url(../images/prev.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 12px 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.table_foot .pagination > li .next {
  background-image: url(../images/next.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 12px 12px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.table_foot b {
  margin-left: 5px;
  margin-right: 5px;
}
.table_foot input {
  background-color: #f8f8f8;
  border-width: 1px;
  border-style: solid;
  border-color: #a6a6a6;
  border-image: initial;
  border-radius: 4px;
  height: 24px;
  line-height: 24px;
  padding-left: 4px;
  width: 28px;
}
.table_foot .refresh {
  display: inline-block;
  vertical-align: middle;
  background-image: url(../images/page_refresh.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 20px;
  width: 20px;
  margin-top: -3px;
  margin-left: 8px;
  border: none;
  background-color: transparent;
}
