.bg-normal {
  background-color: violet;
}
.bg-violet {
  background-color: violet;
}
.bg-grey {
  background-color: grey ;
}
.size-normal {
  width: 500px;
  height: 500px;
}
.size-normal-wider {
  width: 800px;
  height: 500px;
}
.normal-fill-in {
  width: 100%;
  height: 100%;
}
.test-fill-in {
  width: 100%;
  height: calc(100% - 200px);
}
.normal-float {
  float: left;
}
.normal-fixed-size {
  width: 500px;
  height: 500px;
}
html {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}
html body {
  width: 100%;
  height: 100%;
}
.table.test-border {
  border: 1px red solid;
}
.table.td-test-border td {
  border: 1px blue solid;
}
.table th {
  width: 120px;
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 14px;
}
html .to-center-horizontal {
  margin: 0 auto;
  margin-top: 100px;
}
html .overflow-hidden {
  overflow: hidden;
}
html .overflow-auto {
  overflow: auto;
}
html .normal-margin-top {
  margin-top: 100px;
}
html .normal-margin-center {
  margin: 0 auto;
}
html .normal-margin-left {
  margin-left: 100px;
}
html .normal-background-color {
  background-color: gray;
}
html .normal-background-image {
  background-image: url('../images/bg.jpg');
}
html body {
  margin: 0;
  padding: 0;
}
html body .normal-border {
  border: 1px red solid;
  box-sizing: border-box;
}
html body .simple-div {
  width: 70%;
  left: 100px;
  top: 100px;
}
html body .fix-width-height,
html body .fixed-width-height {
  width: 400px;
  height: 400px;
}
html body .logic-list {
  position: absolute;
  z-index: 9999;
  right: 50px;
  top: 180px;
}
html body .logic-list .logic-list-right li {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
html body .logic-list .logic-list-right li > img {
  width: 30px;
  height: 25px;
  margin-right: 20px;
}
html body .board-card {
  width: 100%;
  height: 100%;
  border: 2px #000 solid;
  position: relative;
}
html body .board-card .top-line {
  position: absolute;
  z-index: 999;
  top: 80px;
  width: 100%;
  height: 16px;
  box-sizing: border-box;
  border-width: 10px 0px 2px 0px;
  border-color: #000;
  border-style: solid;
}
html body .board-card .one {
  height: 100%;
  width: 90px;
  border-width: 0 2px 0 0;
  border-style: solid;
  float: left;
}
html body .board-card .one .title {
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 56px;
}
html body .board-card .one .state-lamp {
  width: 80px;
  margin: 0 auto;
  margin-bottom: 6px;
  padding-left: 6px;
}
html body .board-card .one .state-lamp span {
  display: inline-block;
  width: 42px;
  font-size: 12px;
}
html body .detail-info {
  width: 400px;
  padding: 0 15px;
  background: #7c7c79;
  opacity: 0.88;
  color: #fff;
  pointer-events: all;
  font-size: 12px;
  border-radius: 2px;
  margin: 0 auto;
  margin-top: 100px;
}
html body .detail-info .detail-top {
  position: relative;
  height: 40px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  border-bottom: 1px #c1c1bc solid;
}
html body .detail-info .detail-top div:first-child {
  line-height: 40px;
}
html body .detail-info .detail-top .detail-right {
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 40px;
}
html body .detail-info .detail-top .detail-right span {
  padding-right: 10px;
}
html body .detail-info .detail-top .detail-right span img {
  width: 16px;
}
html body .detail-info .detail-main {
  font-size: 14px;
  padding: 10px 20px;
}
html body .detail-info .detail-main tr {
  line-height: 28px;
}
html body .detail-info .detail-main tr td:first-child {
  text-align: left;
  width: 60px;
}
html body .detail-info .detail-main tr:nth-of-type(even) {
  background: none !important;
}
html body .detail-info .detail-main tr:nth-of-type(odd) {
  background: none !important;
}
html body .detail-info .detail-main tr:last-child {
  vertical-align: initial;
  line-height: 20px;
}
.wd-break table {
  box-sizing: border-box;
  border: 1px red solid;
  width: 400px;
}
.wd-break table td:not(.exp) {
  word-break: break-all;
  width: 100px;
}
.table-overflow_compare {
  height: 200px;
  overflow-y: auto;
}
.table-overflow_compare table {
  border: 1px red solid;
}
.table-overflow_compare table tr {
  height: 30px;
  line-height: 30px;
}
.table-overflow_compare table tr td {
  border: 1px green solid;
}
.table-overflow table {
  border: 1px red solid;
}
.table-overflow table tbody {
  height: 200px;
  overflow-y: auto;
  display: block;
}
.table-overflow table tbody tr {
  height: 30px;
  line-height: 30px;
}
.table-overflow table tbody tr td {
  border: 1px green solid;
}
.shade div {
  width: 100%;
  height: 40px;
  background-color: red;
}
.shade div div {
  width: 97%;
  height: 40px;
  background-color: green;
}
div.parentFrame {
  width: 100%;
  height: 100%;
}
div.parentFrame iframe {
  width: 100%;
  height: 600px;
}
.rapheal_test {
  position: relative;
  width: 100%;
  height: 380px;
  border: 1px red solid;
  box-sizing: border-box;
  padding-left: 200px;
}
.rapheal_test .container {
  background-image: url('../images/bg.jpg');
  width: 100%;
  height: 100%;
}
.rapheal_test .right {
  position: absolute;
  bottom: 50px;
  right: 500px;
}
.to-center {
  position: relative;
}
.to-center .container {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
