@normal-width: 500px;
@normal-left: 100px;
@normal-border: 1px red solid;

body {
    border: @normal-border;
    .normal-border{
        border:@normal-border
    }
    .simple-div {
        width: 70%;
        left: 100px;
        top: 100px
    }
    .fix-width-height {
        width: 400px;
        height: 400px;
    }
}